.home {
  min-height: 100vh;
  background: var(--bg-secondary);
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  &_middle {
    margin-top: 75px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 590px;
  }
}

.popup {
  position: relative;
  background: var(--bg-primary);
  box-shadow: 0 1px 2px var(--shadow-1);
  width: 40vw;
  height: 200px;
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 99;
  text-align: center;
  border-radius: 10px;

  &_header {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    border-bottom: 1px solid var(--bg-third);
    padding: 15px;
  }

  &_message {
    padding: 15px;
    font-weight: 500;
  }
}

.send_verification {
  background: var(--bg-primary);
  box-shadow: 0 1px 2px var(--shadow-1);
  padding: 20px;
  font-size: 14px;
  color: var(--color-primary);
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}
.send_verification a {
  color: var(--blue-color);
  cursor: pointer;
}
.send_verification a:hover {
  text-decoration: underline;
}

@media (max-width: 1175px) {
  .stories,
  .createPost,
  .post,
  .send_verification {
    width: 84%;
  }

  .stories {
    grid-template-columns: repeat(5, 91px);
  }

  .home_middle {
    margin-left: 5%;
  }

  .right_home {
    width: 18vw;
  }
}

@media (max-width: 1030px) {
  .left_home .left_link span,
  .left_home .left_link .col,
  .shortcut,
  .shortcut_item span,
  .splitter,
  .fb_copyright {
    display: none;
  }

  .left_home {
    display: none;
  }

  .home_middle {
    position: relative;
    margin-left: 55px;
  }
  .right_home {
    width: 20vw;
  }
  .contacts_header_right {
    right: 10%;
  }
  .contact_circle {
    width: 20px;
  }
  .stories,
  .createPost,
  .post,
  .send_verification {
    width: 100%;
  }

  .stories {
    grid-template-columns: repeat(5, 10.8vw);
  }
}

@media (max-width: 960px) {
  .createPost,
  .meeting,
  .post,
  .send_verification {
    width: 93%;
  }
  .stories {
    width: 95%;
  }
  .home_middle {
    margin-left: 10%;
  }
  .right_home {
    left: 76%;
    width: 20vw;
  }
  .splitter1 {
    width: 20vw;
  }
  .contact_circle {
    width: 30px;
  }
  .contacts_header_right {
    right: 0;
  }
}

@media (max-width: 885px) {
  .left_home {
    display: none;
  }
  .right_home {
    display: none;
  }
  .createPost,
  .meeting,
  .post,
  .send_verification {
    width: 110%;
  }
  .stories {
    width: 112%;
    grid-template-columns: repeat(5, 14.8vw);
  }
  .home_middle {
    margin-left: 14%;
  }
  .left_home::-webkit-scrollbar {
    display: none;
  }
}

@media (max-width: 799px) {
  .home_middle {
    margin-left: 10%;
  }
  .stories {
    grid-template-columns: repeat(5, 15.7vw);
  }
  .story_profile_name,
  .story_create_text {
    display: none;
  }
  .create_story_card {
    filter: brightness(96%);
  }
  .stories .white_circle {
    right: 5px;
  }
  .story_profile_pic {
    width: 7vw;
    height: 7vw;
  }

  .popup {
    width: 70vw !important;
  }
}

@media (max-width: 620px) {
  .stories,
  .createPost,
  .post,
  .send_verification {
    width: 100%;
  }
  .stories .white_circle {
    display: none;
  }
  .story,
  .create_story_card {
    height: 30vw;
  }
  .createPost_icon {
    font-size: 12px;
  }
  .open_post {
    font-size: 16px;
  }
  .createPost_icon svg {
    width: 20px;
  }

  .home_middle,
  .createPost,
  .post {
    width: 98%;
    margin-top: 9px;
  }

  .createPost,
  .meeting,
  .post {
    width: 102%;
    margin-top: 1rem;
  }
  .send_verification {
    width: 102%;
    margin: 0 auto;
  }

  .stories {
    grid-template-columns: repeat(5, 17vw);
  }

  .home_middle {
    margin: 56px auto;
  }

  .createPost_body {
    padding: 5px 0;
  }

  .createPost_icon {
    font-size: 10.3px;
  }

  .post {
    &_profile_name {
      font-size: 11.2px;
    }

    &_header_left img {
      width: 35px;
      height: 35px;
    }
  }
}
