.all {
  &_menu {
    position: absolute;
    right: -9rem;
    top: 45px;

    height: 55vh;
    width: 575px;
    user-select: none;

    background: var(--bg-secondary);
    border-radius: 10px;
    padding: 10px 1rem;
    box-shadow: -2px 1px 5px 2px var(--shadow-1);

    &_header {
      font-size: 24px;
      font-weight: 700;
      line-height: 28px;
      margin-bottom: 10px;
    }

    &_wrap {
      height: 89%;
      display: grid;
      grid-template-columns: 1.7fr 1fr;
      gap: 1rem;
      overflow-y: auto;
    }

    &_search {
      background: var(--bg-secondary);

      display: flex;
      align-items: center;
      gap: 5px;
      padding: 10px;
      border-radius: 50px;

      input {
        border: none;
        outline: none;
        background: transparent;
        width: 100%;
        font-size: 15px;
      }
    }

    &_group {
      margin-top: 10px;
      width: 100%;

      &_header {
        font-weight: 600;
        font-size: 16px;
        padding: 10px 0;
      }
    }

    &_item {
      display: flex;
      align-items: center;
      width: 100%;
      margin-bottom: 5px;
      padding: 5px;
      cursor: pointer;
      border-radius: 10px;

      img {
        width: 36px;
        height: 36px;
        margin-right: 10px;
      }
    }

    &_col {
      display: flex;
      flex-direction: column;

      span:first-of-type {
        font-size: 14px;
        font-weight: 500;
      }

      span:last-of-type {
        font-size: 12px;
        color: #65676b;
      }
    }
  }

  &_left {
    background: var(--bg-primary);
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  }

  &_right {
    position: fixed;
    right: 2rem;
    padding: 15px 10px;
    margin-right: 1rem;

    height: 177px;
    width: 170px;

    border-radius: 10px;
    background: var(--bg-primary);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);

    &_header {
      font-size: 20px;
      font-weight: 700;
      margin-bottom: 15px;
    }

    &_item {
      display: flex;
      align-items: center;
      gap: 10px;

      font-weight: 600;
      font-size: 14px;
      cursor: pointer;

      padding: 5px 10px;
      border-radius: 10px;
      margin-bottom: 2px;
    }

    &_circle {
      $unit: 40px;
      width: $unit;
      height: $unit;

      display: flex;
      align-items: center;
      justify-content: center;

      border-radius: 50%;
      background: var(--bg-third);
    }
  }
}
