.input {
  &_wrap {
    position: relative;
    width: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;

    input {
      outline: none;
      border: 2px solid var(--border-color);
      background: var(--bg-primary);
      width: 100%;
      height: 50px;
      font-size: 17px;
      border-radius: 10px;
      padding-left: 10px;
      margin-bottom: 10px;
      color: var(--color-primary);

      &:focus {
        border-color: var(--green-color);
      }
    }

    i {
      position: absolute;
      right: 5px;
      top: 15px;
      transform: scale(0.8);
    }
  }

  &_error {
    position: relative;
    padding: 14px 10px;
    background: #b94a48;
    width: 100%;
    color: #fff;
    border-radius: 5px;
    margin-bottom: 15px;
    font-size: 13.5px;

    &_border {
      border-color: #b94a48 !important;
    }

    &_desktop {
      position: absolute;
      width: 239px;
      left: 24.6rem;
      text-align: center;
    }
  }
}

.register {
  &_input {
    &_wrap {
      width: 100%;

      input {
        width: 300px;
        background: var(--bg-secondary);
      }

      .input_error {
        max-width: 300px;
      }

      .error_arrow_bottom {
        transform: translateY(1px);
      }
    }
  }
}

/*----------------DateOfBirth---------------*/
.reg_grid {
  .input_error {
    width: 290px;
    position: absolute;
    top: 68px;

    &_select_large {
      left: -94.5%;
      top: 13px;

      &_right {
        right: -53.5%;
        top: 17px;
      }
    }
  }
}
/*----------------DateOfBirth---------------*/

.error_arrow {
  &_top {
    position: absolute;
    bottom: -10px;
    border-top: 10px solid #b94a48;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
  }

  &_bottom {
    position: absolute;
    top: -10px;
    right: 10px;
    border-bottom: 10px solid #b94a48;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
  }

  &_left {
    position: absolute;
    right: -8px;
    top: 13px;
    border-top: 10px solid transparent;
    border-right: 10px solid #b94a48;
    border-bottom: 10px solid transparent;
    transform: rotateY(534deg);
  }

  &_right {
    border-top: 10px solid transparent;
    border-right: 10px solid #b94a48;
    border-bottom: 10px solid transparent;
    position: absolute;
    // bottom: 16px;
    left: -10px;
    top: 14px;
  }
}

@media (min-width: 539px) {
  .register {
    &_input {
      &_wrap {
        .input_error {
          max-width: 100%;
        }
      }
    }
  }
}
