.right {
  &_home {
    position: fixed;
    left: 76.7vw;
    top: 4rem;
    width: 22vw;
  }
}

.splitter1 {
  height: 1.3px;
  background: var(--divider);
  width: 17vw;
  margin: 6px 2px 0 12px;
}

.contacts {
  &_header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 0 7px 10px;
    font-weight: 600;
    color: var(--color-secondary);

    &_right {
      display: flex;
      align-items: center;
      gap: 6px;
      position: absolute;
      right: -9px;
      top: 7px;
    }
  }

  &_list {
    padding: 5px;
  }
}

.contact {
  display: flex;
  gap: 12px;
  font-size: 14px;
  font-weight: 600;
  padding: 17px;
  margin-bottom: 10px;
  cursor: auto !important;

  &_circle {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &:nth-child(1) {
      margin-right: -1px;
    }

    &:nth-child(2) {
      margin-right: 1px;
    }

    &:nth-child(3) {
      margin-top: -1px;
    }
  }

  &_img img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }

  &_action {
    .green_btn {
      width: 110px;
    }

    .gray_btn:hover {
      color: black;
    }
  }
}

@media (min-width: '1445px') {
  .right_home {
    width: 19vw;
    left: 80.7vw;
  }
  .contacts_list {
    width: 350px;
  }
}
