$black: #000000;
$white: #ffffff;
$gray: #efefef;
$gray-2: #757575;

$facebook-color: #4267b2;
$google-color: #db4437;
$twitter-color: #1da1f2;
$insta-color: #e1306c;

.login {
  height: 100vh;
  overflow: hidden;

  &_container {
    position: relative;
    min-height: 100vh;
    overflow: hidden;
  }

  &_row {
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
  }

  &_col {
    width: 50%;
  }
}

.align-items-center {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.form {
  padding: 1rem;
  background-color: $white;
  border-radius: 1.5rem;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transform: scale(0);
  transition: 0.5s ease-in-out;
  // transition-delay: 1s;

  &_wrapper {
    width: 100%;
    max-width: 28rem;
  }

  .input-group {
    position: relative;
    width: 100%;
    margin: 1rem 0;

    box-icon {
      position: absolute;
      top: 50%;
      left: 1rem;
      transform: translateY(-50%);
      font-size: 1.4rem;
    }

    input {
      width: 100%;
      padding: 1rem 3rem;
      font-size: 1rem;
      background-color: $gray;
      border-radius: 0.5rem;
      border: 0.125rem solid $white;
      outline: none;

      &:focus {
        border: 0.125rem solid var(--blue-color);
      }
    }
  }

  button {
    cursor: pointer;
    width: 100%;
    padding: 0.6rem 0;
    border-radius: 0.5rem;
    border: none;
    background-color: var(--blue-color);
    color: $white;
    font-size: 1.2rem;
    outline: none;
  }

  p {
    margin: 1rem 0;
    font-size: 14.5px;
  }
}

.flex-col {
  flex-direction: column;
}

.social-list {
  margin: 2rem 0;
  padding: 1rem;
  border-radius: 1.5rem;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transform: scale(0);
  transition: 0.5s ease-in-out;
  transition-delay: 0.2s;

  & > div {
    margin: 0 0.5rem;
    padding: 0.7rem;
    cursor: pointer;
    border-radius: 0.5rem;
    cursor: pointer;
    transform: scale(0);
    transition: 0.5s ease-in-out;

    &:nth-child(1) {
      transition-delay: 0.4s;
    }

    &:nth-child(2) {
      transition-delay: 0.6s;
    }

    &:nth-child(3) {
      transition-delay: 0.8s;
    }

    &:nth-child(4) {
      transition-delay: 1s;
    }

    & > box-icon {
      transition: 0.4s ease-in-out;
    }

    &:hover box-icon {
      transform: scale(1.5);
    }
  }
}

.bg {
  &-facebook {
    background-color: $facebook-color;
  }

  &-google {
    background-color: $google-color;
  }

  &-twitter {
    background-color: $twitter-color;
  }

  &-insta {
    background-color: $insta-color;
  }
}

.pointer {
  cursor: pointer;
}

.login_container.sign-in .form.sign-in,
.login_container.sign-in .social-list.sign-in,
.login_container.sign-in .social-list.sign-in > div,
.login_container.sign-up .form.sign-up,
.login_container.sign-up .social-list.sign-up,
.login_container.sign-up .social-list.sign-up > div {
  transform: scale(1);
}

.content-row {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 6;
  width: 100%;
}

.text {
  margin: 4rem;
  color: var(--white);

  h2 {
    font-size: 3.5rem;
    font-weight: 800;
    margin: 2rem 0;
    transition: 1s ease-in-out;
  }

  p {
    font-weight: 600;
    transition: 1s ease-in-out;
    transition-delay: 0.2s;
  }
}

.img img {
  width: 30vw;
  transition: 1s ease-in-out;
  transition-delay: 0.4s;
}

.text.sign-in h2,
.text.sign-in p,
.img.sign-in img {
  transform: translateX(-250%);
}

.text.sign-up h2,
.text.sign-up p,
.img.sign-up img {
  transform: translateX(250%);
}

.login_container.sign-in .text.sign-in p,
.login_container.sign-in .text.sign-in h2,
.login_container.sign-in .img.sign-in img,
.login_container.sign-up .text.sign-up p,
.login_container.sign-up .text.sign-up h2,
.login_container.sign-up .img.sign-up img {
  transform: translateX(0);
}
