* {
  padding: 0;
  margin: 0;
}
body {
  font-family: "Segoe UI", Helvetica, Arial, sans-serif;
}
html {
  overflow-y: scroll;
}
a {
  text-decoration: none;
  color: inherit;

  &:hover {
    color: var(--blue-color);
  }
}
ul {
  list-style: none;
}
img,
svg {
  vertical-align: unset;
}
