.blur {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.768);
  z-index: 100;
  height: 100%;
  width: 100%;
}

.hover1:hover {
  background: var(--bg-secondary);
}
.hover2:hover {
  background: var(--bg-third);
}
.hover3:hover {
  background: #d4d6da3a;
}
.hover4:hover {
  background: var(--light-green-color);
  color: var(--green-darker-color);
}

.scrollbar::-webkit-scrollbar {
  width: 8px;
}
.scrollbar::-webkit-scrollbar-thumb {
  background: #caceca;
  border-radius: 10px;
}

.scrollbar_mess {
  &::-webkit-scrollbar {
    width: 14px;
  }

  &::-webkit-scrollbar-track {
    background: var(--bg-secondary);
  }

  &::-webkit-scrollbar-thumb {
    background: var(--dark-color-secondary);

    &:hover {
      background: var(--mes-image-border-color);
    }
  }
}

.small_circle {
  position: relative;
  height: 36px;
  width: 36px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 11px;
  background: var(--bg-third);
  cursor: pointer;
}

.filter_green {
  filter: invert(39%) sepia(57%) saturate(200%) saturate(200%) saturate(200%)
    saturate(200%) saturate(200%) saturate(147.75%) hue-rotate(116deg)
    brightness(97%) contrast(96%);
}

.card {
  width: 375px;
  padding: 15px 20px;
  background-color: #141b2bd4;
  box-shadow: 0px 8px 25px #f5f0f0;
}

.box-wrap {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

// admin login tro lai binh thuong
// .form-group {
//   margin: 10px 0px;
//   display: flex;
//   flex-direction: column;
// }
// .form-control {
//   padding: 12px;
//   border: none;
//   outline: none;
//   background-color: #0a0e1585;
//   &::placeholder {
//     color: #fff;
//     font-weight: 400;
//   }
// }
// label {
//   margin-bottom: 5px;
//   color: #fff;
//   font-weight: 500;
// }
// .btn {
//   outline: none;
//   color: #fff;
//   text-transform: uppercase;
//   padding: 12px;
//   text-align: center;
//   background-color: #101a23eb;
//   border: none;
//   cursor: pointer;
// }
